# Basic Select

# Revising the Select Query I

<img src="images/revising the select query I.jpg" width="250" height="300">

The CITY table is described as above:

Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

In [3]:
# Solution below. Code was verified on hacckerrank.

    SELECT * 
    FROM CITY
    WHERE POPULATION > 100000 AND COUNTRYCODE = 'USA'

# Revising the Select Query II

<img src="images/revising the select query I.jpg" width="250" height="300">

The CITY table is described as above:

Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

In [4]:
# Solution below. Code was verified on hacckerrank.

    SELECT NAME
    FROM CITY
    WHERE POPULATION > 120000 AND COUNTRYCODE = 'USA'

# Select All

<img src="images/revising the select query I.jpg" width="250" height="300">

The CITY table is described as above: 

Query all columns (attributes) for every row in the CITY table.

In [7]:
# Solution below. Code was verified on hacckerrank.

    SELECT *
    FROM CITY